<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    
    body.login
        .contenedor-formulario

            form.caja-login(method="POST" ) 
                h1= nombrePagina
                if locals.mensajes
                    .alertas 
                        each categoria in Object.keys(locals.mensajes) 
                            each error in mensajes[categoria]
                                .alerta(class=`${categoria}`)
                                    p= error
                p(style="color: black; font-size: 15px;") Ingresa nuevo password
                br
                .campo 
                    label(for= "password") Password: 
                    input(type="password" name="password" placeholder="Ingresar contraseña nueva"  required)

                .campo.enviar
                    input(type="submit" value="Reestablecer Password" class="boton")
