doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 

        h2 Reestablecer contraseña 
        p haz solicitado reestablecer la contraseña, por favor haz click el siquiente enlace
        p el enlace es temporal, si se vence, favor de volver a solicitar.
        a(href=`${resetUrl}`)  Reestablecer  Contraseña
        p si no puedes acceder a este enlace, visita #{resetUrl}
        p si no solicitaste esto, puedes ignorar este correo 